<div class="container">
  <h1>Flat's Index</h1>
</div>
<div class="d-flex align-items-start">
  <div class="cards px-3">
    <% @flats.each do |flat| %>
      <div class="card">
        <% if flat.photo.attached? %>
          <%= cl_image_tag flat.photo.key, crop: :fill, class: "card-img-top" %>
        <% else %>
          <img src="https://cf.bstatic.com/images/hotel/max1024x768/162/162182692.jpg" class="card-img-top" alt="flat">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
          <%= link_to "More info", flat_path(flat), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"
    style="width: 100%; height: 92vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
